<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{url_for('main_site.home') }}">Template</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
      <li id='home' class="nav-item">
        <a class="nav-link" href="{{url_for('main_site.home') }}">Home</a>
      </li>
      <li id='a_form' class="nav-item">
        <a class="nav-link" href="{{url_for('main_site.a_form') }}">Form</a>
      </li>
      <li id='network' class="nav-item">
        <a class="nav-link" href="{{url_for('main_site.network') }}">Network</a>
      </li>
      <li id='phaser' class="nav-item">
        <a class="nav-link" href="{{url_for('main_site.phaser') }}">Phaser</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>

</nav>

